{
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": [
        "*.graphql",
        "*.gql",
        "*.graphqls"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}